---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
import Skills from "../components/TechStack.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/AboutMe.astro";
import AboutMe from "../components/AboutMe.astro";
import { Theme } from "../components/Theme";
import TechStack from "../components/TechStack.astro";
---

  <Layout title="Portafolio Arianna Olivares">
    <main class="overflow-x-hidden">
      <Presentation />
      <br />
      <AboutMe />
      <br>
      <TechStack/>
      <br/>
      <Experience />
      <br>
    </main>
  </Layout>