---
import Layout from "../layouts/Layout.astro";
import Presentation from "../components/Presentation.astro";
import Skills from "../components/Skills.astro";
import SliderTools from "../components/SliderTools.astro";
---

  <Layout title="Portafolio Arianna Olivares">
    <main class="mx-10 lg:mx-20 xl:mx-24 2xl:mx-28 my-10 overflow-x-hidden">
      <Presentation />
      <br />
      <Skills/>
      <br/>
      <SliderTools />
    </main>
  </Layout>
