---
interface Props {
  title: string;
  body: string;
  src: string;
}

const { title, body, src } = Astro.props;
---

<div
  class="flex items-center gap-4 mx-auto my-4
         bg-white dark:bg-bunker-900
         shadow-lg dark:shadow-none
         dark:border-2 dark:border-bunker-800
         rounded-2xl
         w-full max-w-xs sm:max-w-sm md:max-w-md lg:max-w-lg xl:max-w-xl
         p-4 sm:p-6 lg:px-8"
>
  <div class="flex rounded-xl p-3">
    <img
      src={src}
      class="h-12 w-12 sm:h-16 sm:w-16 lg:h-20 lg:w-20 xl:h-28 xl:w-28 object-contain"
    />
  </div>

  <div class="flex flex-col min-w-5">
    <h3
      class="font-bold text-lg sm:text-sm xs:text-xs lg:text-2xl text-jade-950 dark:text-bunker-100 leading-tight truncate"
    >
      {title}
    </h3>
    <p
      class="text-sm sm:text-base text-jade-950 dark:text-bunker-300 line-clamp-2"
    >
      {body}
    </p>
  </div>
</div>
