---
import ContactDetail from '../components/ContactDetail.astro';
---

<section id="contact" class="py-20 bg-jade-300 dark:bg-bunker-900 text-white p-4">
  <div class="container mx-auto text-center max-w-3xl">
    <h2 class="text-4xl font-bold mb-12 text-jade-900 dark:text-jade-500 drop-shadow-md">Contáctame</h2>
    <div class="flex flex-col items-center space-y-6">
      <ContactDetail icon="mail" text="ariannaolivares@gmail.com" link="mailto:ariannaolivares@gmail.com" />
      <ContactDetail icon="phone" text="(+58) 414-7503836" link="tel:+584147503836" />
      <ContactDetail icon="linkedin" text="LinkedIn" link="https://www.linkedin.com/in/ariannaoc" />
    </div>
  </div>
</section>