---
import Carousel from "../components/Carousel";
import Label from "./Label.astro";

const servicom = [
  "/servicom/login.png",
  "/servicom/inicio.png",
  "/servicom/menu.png",
  "/servicom/estudiantes.png",
  "/servicom/proyectos.png",
  "/servicom/formP.png",
  "/servicom/periodo.png",
  "/servicom/tutores.png",
];
const carnet = [
  "/carnet/login.png",
  "/carnet/principal.png",
  "/carnet/data.png",
  "/carnet/ajustes.png",
  "/carnet/emitidos.png",
];
---

<h3 class="xl:text-2xl font-semibold text-jade-950 dark:text-jade-50 my-10">
  Experiencia
</h3>

<div class="xl:flex gap-10 my-2">
  <div class="xl:ml-10 w-fit mx- sm:mx-0">
    <Carousel client:load images={servicom} />
  </div>

  <div>
    <h3 class="py-4 font-bold sm:text-xl text-base text-jade-950 dark:text-bunker-100">
      Universidad de Los Andes
    </h3>
    <p class="font-semibold text-jade-950 dark:text-bunker-100 sm:text-base text-xs">
      Desarrollo de Sistema de Carnetización Institucional para estudiantes y personal.
    </p>
    <div class="flex flex-wrap gap-2 mt-4">
      <Label title="React" color="bg-blue-100"/>
      <Label title="JavaScript" color="bg-yellow-200"/>
      <Label title="HTML" color="bg-orange"/>
      <Label title="Vite" color="bg-purple"/>
      <Label title="Electron" color="bg-blue-100"/>
      <Label title="Node" color="bg-green"/>
      <Label title="Boostrap" color="bg-violet"/>
    </div>
  </div>
</div>

<br>
<br>


<div class="xl:flex gap-10 my-2">
  <div class="xl:ml-10 w-fit mx- sm:mx-0">
    <Carousel client:load images={carnet} />
  </div>

  <div>
    <h3 class="py-4 font-bold sm:text-xl text-base text-jade-950 dark:text-bunker-100">
      Universidad de Los Andes
    </h3>
    <p class="font-semibold text-jade-950 dark:text-bunker-100 sm:text-base text-xs">
      Desarrollo de Sistema de Carnetización Institucional para estudiantes y personal.
    </p>
    <div class="flex flex-wrap gap-2 mt-4">
      <Label title="React" color="bg-blue-100"/>
      <Label title="JavaScript" color="bg-yellow-200"/>
      <Label title="HTML" color="bg-orange"/>
      <Label title="Node" color="bg-green"/>
      <Label title="Python" color="bg-yellow-100"/>
      <Label title="Tailwind" color="bg-teal"/>
      <Label title="CSS" color="bg-blue-200"/>
    </div>
  </div>
</div>

