---
import { CvBtn } from "./CvBtn.jsx";
---

<div
  class="mx-10 lg:mx-20 xl:mx-24 2xl:mx-28 my-10 overflow-x-hidden bg-bunker-100 dark:bg-bunker-900 p-10 rounded-xl sm:flex justify-between px-10 sm:px-20"
>
  <div class="text-center sm:text-left">
    <p class="font-semibold text-bunker-900 dark:text-bunker-300">Contáctame</p>
    <p class="font-semibold text-bunker-900 dark:text-bunker-300">
      ariannaolivares@gmail.com
    </p>
  </div>
  <br class="sm:hidden">
  <div class="w-fit mx-auto sm:m-1">
    <CvBtn client:load/>
  </div>
</div>
