---
import { CvBtn } from "./CvBtn.jsx";
---

<div
  class="mx-10 lg:mx-20 xl:mx-24 2xl:mx-28 my-10 overflow-x-hidden bg-bunker-100 dark:bg-bunker-900 p-10 rounded-xl flex justify-between px-20"
>
  <div>
    <p class="font-semibold text-bunker-900 dark:text-bunker-300">Contáctame</p>
    <p class="font-semibold text-bunker-900 dark:text-bunker-300">
      ariannaolivares@gmail.com
    </p>
  </div>
  <div>
    <CvBtn client:load/>
  </div>
</div>
