---
import { MailBtn } from "./MailBtn";
---
<div
  class="mx-auto py-16 xl:px-24 px-10 rounded-2xl text-left w-full min-w-64 bg-gradient-to-r shadow-lg dark:shadow-none dark:from-jade-900 dark:via-jade-500 dark:to-jade-900 from-jade-600 via-jade-400 to-jade-600"
>
  <h1
    class="text-xl xl:text-6xl lg:text-5xl md:text-3xl sm:text-2xl font-bold dark:text-jade-50 mt-1 mb-1 xl:mt-8 xl:mb-5 lg:mt-8 lg:mb-5 sm:mt-6 sm:mb-3"
  >
    Arianna Olivares
  </h1>
  <h3 class="xl:text-3xl font-semibold text-jade-950 dark:text-jade-950">
    Frontend Developer
  </h3>
  <p class="xl:text-xl font-medium text-jade-900 dark:text-jade-200">
    Desarrollo aplicaciones web multiplataforma, interfaces de usuario modernas
    y responsivas.
  </p>

  <ul class="flex mt-4 items-center place-content-left">
    <li class="mr-2">
      <a href="https://github.com/ariannaoc">
        <div
          class="rounded-full bg-black w-fit p-1 hover:scale-110 transition-all duration-150"
        >
          <img src="/github.svg" alt="GitHub" />
        </div>
      </a>
    </li>
    <li class="m-2">
      <a href="https://www.linkedin.com/in/ariannaoc">
        <div class="hover:scale-110 transition-all duration-150">
          <img src="/linkedin.svg" alt="LinkedIn" />
        </div>
      </a>
    </li>
    <!-- <li class="m-2">
      <div class="hover:scale-110 transition-all duration-150">
        <MailBtn client:load/>
      </div>
    </li> -->
  </ul>
</div>
