<div
  class="mx-auto py-16 xl:px-24 px-10 rounded-2xl text-left w-full min-w-64 bg-gradient-to-r dark:from-jade-900 dark:via-jade-500 dark:to-jade-900 from-jade-600 via-jade-400 to-jade-600"
>
  <h1
    class="text-xl xl:text-6xl lg:text-5xl md:text-3xl sm:text-2xl font-bold dark:text-jade-50 mt-1 mb-1 xl:mt-8 xl:mb-5 lg:mt-8 lg:mb-5 sm:mt-6 sm:mb-3"
  >
    Arianna Olivares
  </h1>
  <h3 class="xl:text-3xl font-semibold text-jade-950 dark:text-jade-950">
    Frontend Developer
  </h3>
  <p class="xl:text-xl font-medium text-jade-900 dark:text-jade-200">
    Desarrollo aplicaciones web multiplataforma, interfaces de usuario modernas
    y responsivas.
  </p>

  <ul class="flex flex-row mt-4 items-center place-content-left">
    <li class="mr-2">
      <a href="https://github.com/ariannaoc">
        <div
          class="rounded-full bg-black w-fit p-1 hover:scale-110 transition-all duration-150"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-github"
            width="32"
            height="32"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="#ffffff"
            fill="white"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"
            ></path>
          </svg>
        </div>
      </a>
    </li>
    <li class="m-2">
      <a href="https://www.linkedin.com/in/ariannaoc">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-brand-linkedin hover:scale-110 transition-all duration-150"
          width="45"
          height="45"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="#000000"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path
            d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
          ></path>
          <path d="M8 11l0 5"></path>
          <path d="M8 8l0 .01"></path>
          <path d="M12 16l0 -5"></path>
          <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
        </svg>
      </a>
    </li>
  </ul>
</div>
