---
import Card from "./Card.astro";
---

<h3 class="xl:text-2xl font-semibold text-jade-950 dark:text-jade-50 my-5">
 Tech Skills
</h3>

<div class="xl:flex lg:flex md:grid md:grid-cols-2 w-full justify-between gap-2">
    <Card src="/git.svg" title="Control de versiones" body="Git - GitHub"/>
    <Card src="/scrum.png" title="Desarrollo Agil" body="Scrum - XP"/>
    <Card src="/siops.svg" title="Manejo de Sistemas Operativos" body="Linux y Windows"/>
    <Card src="/figma.svg" title="Diseño UI/UX" body="Figma"/>
</div>