---
import { Slider } from "./Tools";
---

<h3 class="xl:text-2xl font-semibold text-jade-950 dark:text-jade-50 my-5">
  Dev Tools - Herramientas de desarrollo
</h3>

<div class="bg-jade-100 dark:bg-jade-950 p-6 rounded-lg flex flex-nowrap">
  <Slider client:load/>
  <Slider client:load/>
</div>
