---
interface Props {
	src: string;
	// alt: string;
	title: string;
}

const {  src, title } = Astro.props;
---


<div id="d" class="text-center place-content-center w-fit mx-6 sm:mx-12 lg:mx-16 xl:mx-20 2xl:mx-20">
    <img src={src} alt={title} class="h-12 w-12 min-h-12 min-w-12 sm:min-h-20 sm:min-w-20 lg:min-h-24 lg:min-w-24 xl:min-h-28 xl:min-w-28 2xl:min-h-32 2xl:min-w-32 m-auto">
    <p class="xl:text-sm font-semibold text-bunker-900 dark:text-bunker-300">{title}</p>
</div>
