  @keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  #tools-slide {
    display: flex;
    animation: 30s slide infinite linear;
  }
