---
import Header from "../components/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body class="dark:bg-bunker-950 m-auto bg-bunker-50">
    <header class="m-8">
      <Header />
    </header>
    <br class="hidden lg:block xl:block">
    <slot />
  </body>
</html>
